*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    text-align:center;
}
h1{
    margin-top: 40vh;
}
button{
    padding: 10px 20px;
    background: white;
    font-weight: bolder;
    border-radius: 5px;
}