* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
h1 {
  text-transform: uppercase;
}
h2 {
  height: 50px;
}
.btns {
  display: flex;
  justify-content: space-evenly;
}
